footer.footer
  if next || prev
    .pager-navigation.container.footer__navigation
      if prev
        a(href=prev).button-text
          svg.icon
            use(xlink:href='./img/icons/icons.svg#arrow')
          span=prev_name
      if next
        a(href=next).button-text.pager-navigation__next
          span=next_name
          svg.icon
            use(xlink:href='./img/icons/icons.svg#arrow')

  .footer__container.container
    .row
      .col-auto
        a(href="./index.html").logo.footer__logo
          img(src="./img/logos/logo2.svg", alt="logo")
      .footer__item.col-auto
        a(href=privacy) Политика конфеденциальности
      span.footer__copyright.col-auto © Все права защищены. 2020    