section.section.bg-accent.bg-gradient.work-slider
  .container
    .work-slider__head
      .row
        h2.work-slider__title.section__title.col-xl-6.col-lg-7 Направления деятельности
        p.offset-xxl-1.offset-xl-2.offset-lg-1.offset-md-6.offset-1.col-lg-4.col-md-6.col-10 Состав узлов буровой установки, их конструкция определяется назначением скважины, условиями и способом бурения.
  .work-slider__content
    .splide.work-slider__splide
      .splide__track.work-slider__splide-track
        .splide__list.work-slider__splide-list
          mixin slide(c, index, title, text, href, photo)
            //slide
            .work-slide.splide__slide(class=c)
              a(href=href).work-slide__container
                .work-slide__background
                  .work-slide__image.image.image_cover
                    img(src=photo, alt="photo")
                .work-slide__content
                  span.work-slide__index.h2=index
                  h6.work-slide__title=title 
                  p.work-slide__text=text


          +slide('', '01', 'Производство', 'Состав узлов буровой установки, их конструкция определяется назначением скважины, условиями', proizvodstvo, './img/wslider/w1.jpg')
          +slide('', '02', 'Аренда', 'Состав узлов буровой установки, их конструкция определяется назначением скважины, условиями', arenda, './img/wslider/w2.jpg')
          //+slide('', '03', 'Сервис', 'Состав узлов буровой установки, их конструкция определяется назначением скважины, условиями', servis, './img/wslider/w3.jpg')
          +slide('', '03', 'Ремонт', 'Состав узлов буровой установки, их конструкция определяется назначением скважины, условиями', remont, './img/wslider/w4.jpg')
          +slide('', '04', 'Обучение', 'Состав узлов буровой установки, их конструкция определяется назначением скважины, условиями', education, './img/wslider/w5.jpg')
          +slide('', '05', 'Проектирование', 'Состав узлов буровой установки, их конструкция определяется назначением скважины, условиями', engineering, './img/wslider/w6.jpg')

